<html>
    
     <!-- HEAD-->

	  <%- include('./../partials/head') %> 

	  <!-- HEAD -->
    
    <body>
        
     <!-- HEADER-->

	  <%- include('./../partials/header') %> 

	  <!-- HEADER -->
        
        <main>

          <p class="titulo-paquetes">Paquetes</p>
          <div class="group-paquetes"> <!-- flex de paqutes -->
            <a style="text-decoration: none" class="url-descripcion-paquetito" href="/productDetail/1" >
            <div class="paquetito"> 
              
              <i class="fas fa-space-shuttle logo-paquetito"></i>
              <p class='descripcion-paquetito'> <%= viaje[0].nombre %></p>

            </div>
            </a>
            <a style="text-decoration: none" class="url-descripcion-paquetito" href="/productDetail/2" >
            <div class="paquetito">
              
              <i class="fas fa-globe logo-paquetito"></i>
              <p class='descripcion-paquetito'>  <%= viaje[1].nombre %></p>

            </div>
            </a>
            <a style="text-decoration: none" class="url-descripcion-paquetito" href="/productDetail/3" >
            <div class="paquetito"> 
              
              <i class="fas fa-rocket logo-paquetito"></i>
              <p class='descripcion-paquetito'>  <%= viaje[2].nombre %></p>

            </div>
            </a>
            <a style="text-decoration: none" class="url-descripcion-paquetito" href="/productDetail/4" >
            <div class="paquetito">
              
              <i class="fas fa-user-astronaut logo-paquetito"></i>
              <p class='descripcion-paquetito'>  <%= viaje[3].nombre %></p>

            </div>
            </a>
            <a style="text-decoration: none" class="url-descripcion-paquetito" href="/productDetail/5" >
            <div class="paquetito">

              <i class="fas fa-space-shuttle logo-paquetito"></i>
              <p class='descripcion-paquetito'>  <%= viaje[4].nombre %></p>

            </div>
            </a>
          </div>
          <div class="group-paquetes">
            
         
            <p class="descripcion-sitio">Viaja al espacio con las mejores ofertas, tenes todo tipo de pagos desde dinero fiduciario hasta cryptomonedas. Podes elegir la que mejore se adapte a tu situacion financiera</p>
        </div>
          
        <div class="group-imagenes-padre"> <!-- flex imagenes PADRE-->
        
          <div class="group-imagenes-hijo">
        
            <img class="imagen-hijo" src="images/1-product.jpg" ><!-- flex imagenes HIJO-->
        
          </div>
        
          <div class="group-imagenes-hijo">
        
            <img class="imagen-hijo" src="images/2-product.jpg"><!-- flex imagenes HIJO-->
                

              </div>
              <div class="group-imagenes-hijo">
                <img class="imagen-hijo" src="images/3-product.jpg"><!-- flex imagenes HIJO-->

              </div>

              <div class="group-imagenes-hijo">
                <img class="imagen-hijo" src="images/3-product.jpg"><!-- flex imagenes HIJO-->

              </div>
            

              
              
          </div>


          <p class='titulo-paquetes2'>El espacio nunca estuvo tan cerca</p>


          <div class="group-paquetes">

            <div class="paquetito"> 

                  <i class="fas fa-rocket logo-paquetito"></i>
                  <a style="text-decoration: none" class="url-descripcion-paquetito" href="#" ><p class='descripcion-paquetito'> Proximos Vuelos</p></a>
            </div>

            <div class="paquetito"> 

                  <i class="fas fa-user-astronaut logo-paquetito"></i>
                  <a style="text-decoration: none" class="url-descripcion-paquetito" href="#" ><p class='descripcion-paquetito'> Paquetes promocionales</p></a>

            </div>

            <div class="paquetito"> 

              <i class="fas fa-globe logo-paquetito"></i>
              <a style="text-decoration: none" class="url-descripcion-paquetito" href="#" ><p class='descripcion-paquetito'>Viajes privados</p></a>

            </div>

          </div>
           
        </main>
        
       

    </body>
    <!-- FOOTER -->

	<%- include('./../partials/footer') %>

	<!-- FOOTER -->

</html>