<!DOCTYPE html>
<!-- HEAD-->

<%- include('./../partials/head') %> 

<!-- HEAD -->


<body>
	<!-- HEADER-->

<%- include('./../partials/header') %> 

<!-- HEADER -->
  
<html lang="en">
<%- include('./../partials/head') %> 
<body>
	<main>
		<div class="divPrincipal">

			<% productsList.forEach(oneProduct => { %>
			<div class="divProductos">
		  		<h4 class="divtitulos" ><%= oneProduct.name %> </h4>
		  		<p class="divPrice"><strong>Price:</strong> $ <%= oneProduct.price %> </p>
		  		<p class="divDescrip"><%= oneProduct.description %></p>
		  		<div>
		 	 		<img class="imagLista" src="/images/<%= oneProduct.image %>" class="pdt-image">
				</div>
			</div>  
		 
		  
		</div>
		<% }) %>
		<br>
	</main>
</body>
 <!-- FOOTER -->

 <%- include('./../partials/footer') %>

 <!-- FOOTER -->

</html>