
<!DOCTYPE html>
<!-- HEAD-->

<%- include('./../partials/head') %> 

<!-- HEAD -->


<body>
	<!-- HEADER-->

<%- include('./../partials/header') %> 

<!-- HEADER -->
  
<html lang="en">
<%- include('./../partials/head') %> 
<body>
	<main>
		<div class="divPrincipal">

			<% productsList.forEach(oneProduct => { %>
			<div class="divProductos">
		  		<h4 class="divtitulos" ><%= oneProduct.nombre %> </h4>
		  		<div>
		 	 		<a href="/productDetail/<%=oneProduct.id%>"><img class="imagLista" src="/images/<%= oneProduct.imagen_id %>" class="pdt-image"></a>
				</div>
				<p class="divPrice"><strong>Precio:</strong> <%= oneProduct.precio %> </p>
				<p class="divDescrip"><%= oneProduct.descripcion %></p>
			</div>  
		 
		  
		</div>
		<% }) %>
		<br>
	</main>
</body>
 <!-- FOOTER -->

 <%- include('./../partials/footer') %>

 <!-- FOOTER -->

</html>