
<html >
	<!-- HEAD-->
	
	<%- include('./../partials/head') %> 
	
	<!-- HEAD -->
	<body>
		 <!-- HEADER-->
	
		 <%- include('./../partials/header') %> 
	
		 <!-- HEADER -->
		<!-- DIV PRINCIPAL -->
	<main>
		<div>
	
			<!-- DIV titulo -->
			<div>
				<div class="divCrear" >
					
					<h2 id="login" >Editando: <%= products.name %> </h2> 
				</div>
			</div>
			<!-- DIV del Formulario Completo-->
			<div class="formEdit" >
	
				<form  action="/edit/<%=products.id%>?_method=PUT"  method="post" enctype="multipart/form-data">
			<!-- DIV que contiene todo el forms -->
					<div >
						<!-- DIV por cada elemento que compone el forms -->
						<div class="div_hijo" >
							<label  for="name" >Nombre del producto: </label>
							<input class="input1" type="text" id="name" name="name" placeholder="<%= products.name %>" value="<%= products.name %>"  >
						</div>
						<!-- DIV por cada elemento que compone el forms -->
						<div class="div_hijo" >
							<label  for="price" >Precio del producto: </label>
							<input class="input1" type="text" id="price" name="price" placeholder="$<%= products.price %>" value="$<%= products.price %>" >
						</div>
						
						<!-- DIV por cada elemento que compone el forms 
						<div class="div_hijo">
							<label  for="category" >Categoría:</label>
							<select class="input1" name="category" id="category" >
								<option value="">Elegí</option>
								<option value="in-sale">Geoespacio</option>
								<option value="visited">Espacio lunar</option>
								<option value="visited">Medio interplanetario</option>
								<option value="visited">Medio interestelar</option>
							</select>
						</div>-->
						<!-- DIV por cada elemento que compone el forms -->
						<div class="div_hijo">
							<label  for="description" >Descripción:</label>
							<textarea class="input1"  name="description" id="description" placeholder="<%= products.description %>"  ><%= products.description %></textarea>
						</div>
						<div class="div_botonHijos" >
							<input class="input1" type="file" name="image" ></input>
						<!-- DIV por cada elemento que compone el forms -->
						<br>
						<br>
						<div >
							<!--<button type="submit" class="buy-now-button">Guardar producto</button>-->
							<button type="submit" class="btn btn-primary">Guardar producto</button>
						</div>
					</div>
				</form>
			</div>
	
		</div>
		<br>
	</main>
	</body>	
	<!-- FOOTER -->
	
	<%- include('./../partials/footer') %>
	
	<!-- FOOTER -->
	</html>