<html>
    
    <!-- HEAD-->

	  <%- include('./../partials/head') %> 

	  <!-- HEAD -->
    
    <body>
        
       <!-- HEADER-->

	  <%- include('./../partials/header') %> 

	  <!-- HEADER -->
        
        <main>
            <br>
            <br>
            <h1 id = "login"> Ingresa a tu Cuenta</h1> 
            <br>
            <div class="logi">              
                <form class="formlogin" action="/users/login" method="POST">
                    <p>
                      <!-- campo para el usuario -->
                      <input  
                      id="email"
                      type="email" 
                      placeholder="email" 
                      name="email"
                      class="email form-control  <%= locals.errors && errors.email ? 'is-invalid':null %>">
                    </p>
                   
                    <p>
                      <!-- campo para la contraseña -->
                      <input
                      type="password" 
                      placeholder="Contraseña" 
                      name="password"
                      class="password form-control  <%= locals.errors && errors.email ? 'is-invalid':null %>" >
                      <% if (locals.errors && errors.email) {%>
                             
                        <p style='color:red'><%= errors.email.msg %></p>
                      
                      
                      <%}%>
                    </p>
                    <p>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </p>
                    <p>
                        <p id = "noTenesCta">¿Olvidó su contraseña?</p>
                    </p>
                    <p>
                        <span id= 'noTenesCta' >¿No tenés una cuenta?</span>
                        <a href = '/users/register'>Registrate</a>
                    </p>
                </form>
            </div>
            <br>
        </main>
        
        
        <script src="./../../js/vLogin.js"></script>
    </body>
    <!-- FOOTER -->

	<%- include('./../partials/footer') %>

	<!-- FOOTER -->
</html>