<html>

    <!-- HEAD-->

      <%- include('./../partials/head') %> 

      <!-- HEAD -->

    <body>

       <!-- HEADER-->

      <%- include('./../partials/header') %> 

      <!-- HEADER -->

        <main>

            <center>





            <div class="perf"></div>

                <h2 id = "login" >Bienvenido <%= user.nombre %></h2>
                <p>
                    <a href="/" class="btn btn-primary">Ir al inicio</a>
                </p>


                <img class="imagLista" src="/images/imgUsers/<%= user.imagen_id%>" alt="">
            <br>

            <br>
            <p>
                <a class="btn btn-primary" href="/users/logout">Logout</a>
            </p>
            <br>


            </center>
        </main>
        <script src="./../../js/carrito.js"></script>
    </body>


    <!-- FOOTER -->

    <%- include('./../partials/footer') %>

    <!-- FOOTER -->
</html>