<html>
    
    <!-- HEAD-->

	  <%- include('./../partials/head') %> 

	  <!-- HEAD -->
    
    <body>
        
         <!-- HEADER-->

	  <%- include('./../partials/header') %> 

	  <!-- HEADER -->
        
        <main>
            <h1 id = "crearCuenta">Crear Cuenta</h1>
            <form class="regForm" action="/users" method="post" enctype="multipart/form-data">
                <ul id = "ulReg">
                    <li class = "liReg">
                        <input class="form-control  <%= locals.errors && errors.firstName ? 'is-invalid':null %>" 
                        name="firstName" 
                        placeholder="Nombre" 
                        value="<%= locals.oldData ? oldData.firstName :null %>"/>
                        <% if (locals.errors && errors.firstName) {%>
                             
                            <p style='color:red'><%= errors.firstName.msg %></p>
                            
                            
                            <%}%>
                    </li>
                    <li class = "liReg">
                        <input name="cuit" 
                        placeholder="CUIT" 
                        class="form-control  <%= locals.errors && errors.cuit ? 'is-invalid':null %>"
                        value="<%= locals.oldData ? oldData.cuit :null %>" />
                        <% if (locals.errors && errors.cuit) {%>
                             
                            <p style='color:red'><%= errors.cuit.msg %></p>
                            
                            
                            <%}%>
                    </li>
                    <li class = "liReg">
                        <input name="email" 
                        type="email" 
                        placeholder="Correo Electronico" 
                        value="<%= locals.oldData ? oldData.email :null %>" 
                        class="form-control  <%= locals.errors && errors.email ? 'is-invalid':null %>"/>
                        <% if (locals.errors && errors.email) {%>
                             
                            <p style='color:red'><%= errors.email.msg %></p>
                          
                          
                          <%}%>
                    </li>
                    <li class = "liReg">
                        <input name="password" 
                        type="password" 
                        placeholder="Contraseña" 
                        class="form-control  <%= locals.errors && errors.password ? 'is-invalid':null %>"/>
                        <% if (locals.errors && errors.password) {%>
                             
                            <p style='color:red'><%= errors.password.msg %></p>
                          
                          
                          <%}%>
                    </li>
                    <div class="div_botonHijoscrear">
						<input type="file" name="image"></input>
                        <% if (locals.errors && errors.image) {%>
                             
                            <p style='color:red'><%= errors.image.msg %></p>
                          
                          
                          <%}%>
					</div>
                    <li class="liReg">
                        <button id="crear" type="submit" class="btn btn-primary">Crear</button>
                    </li>
                    <li class="liReg">
                        <span id="tenesCuenta">¿Ya tenés una cuenta?</span>
                        <a href="/users/login">Ingresá</a>
                    </li>
                    <li class="liReg">
                        <a href = '/'>Volver a la tienda</a>
                    </li>
                </ul>
            </form>
            <br>
        </main>           
    </body>

<!-- FOOTER -->

<%- include('./../partials/footer') %>

<!-- FOOTER -->
</html>